<img class="card-img-top" src="https://www.cicis.com/media/1243/pizza_adven_zestypepperoni.png" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">{{product.name}}</h5>
  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
    longer.</p>
</div>
<div class="card-footer">
  <small class="text-muted">500 gr</small>
  <a href="#" class="btn btn-outline-danger float-right ml-2">Primary</a>
  <button class="btn btn-outline-warning float-right">Primary</button>
</div>