<div class="container" style="padding-top: 25px;">
  <h1 class="text-center">My Orders</h1>
  <div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
      <div class="box">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody *ngIf="orders; else notFound">
              <tr *ngFor="let o of orders; let i = index">
                <th>{{i + 1}}</th>
                <td>{{toLocaleString(o.date)}}</td>
                <td>$ {{getTotalSum(o.products).toFixed(2)}}</td>
                <td><span class="label label-info">{{o.status}}</span>
                </td>
                <td>
                  <a routerLink="/orders/details/5" class="btn btn-outline-warning btn-sm">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-template #notFound>
    <h3 class="text-warning">You have not made any orders!</h3>
  </ng-template>
</div>
