<div class="container">
  <div class="row space-top" style="margin: 40px;">
    <div class="col-md-12">
      <h1 style="text-align: center; padding: 20px;" class="jumbotron-heading">Menu</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Search for the pizza you are looking for..." aria-label="Search" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <app-product-list></app-product-list>
</div>