<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Pizza Lab!</h1>
    <hr class="my-4">
    <p class="lead">Your favourite pizza is now just a few clicks away. Register now and choose from our decent menu.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Go To Menu</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
  </div>
  <h2 class="font-italic text-muted text-center">Top Rated</h2>
  <app-product-list [products$]="products$"></app-product-list>
</div>
